.mainImage {
    height: 250px;
}

@media (prefers-color-scheme: dark) {
    .App {
        background: #812525
    }
}

@media (prefers-color-scheme: light) {
    .App {
        background: #000;
    }
}   